:root {
    --heading-color: #333;
    --text-color: #484848;
    --link-color: #008489;
}

header {
    height: 64px;
}

.logo-header img {
    width: 34px;
    margin-left: 28px;
    margin-top: 24px;
}

.content {
    text-align: center;
}

.content-heading {
    width: 1032px;
    font-size: 5.4rem;
    font-weight: 800;
    color: var(--heading-color);
}

.content-description {
    width: 680px;
    margin-top: 40px;
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--text-color);
}

#card {
    margin-bottom: 100px;
}

.card-wrapper {
    display: block;
    margin-top: 80px;
    cursor: pointer;
    text-decoration: none;
}

.card-img {
    width: 508px;
    border-radius: 5px;
}

.card-text {
    text-align: left;
}

.card-heading {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--heading-color);
    margin-top: 16px;
}

.card-description {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 8px;
}

.card-link {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--link-color);
    margin-top: 8px;
}
