:root {
    --heading-color: #333;
    --text-color: #484848;
    --pc-width: 1032px;
    --tablet-width: 696px;
    --mobile-width: 500px;
}

.disabled {
    display: none;
}

.covid-noti-wrap {
    width: 100%;
    height: 58px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.covid-noti-link {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #a3a3a3;
}

.covid-noti-link:hover {
    color: #5e5c5c;
}

.header-img {
    position: relative;
    height: 790px;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 3px 4px 100px #000;
}

/* Navbar */

.navbar {
    position: absolute;
    width: -webkit-fill-available;
    margin: 0 80px;
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navbar-logo {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logo-img {
    width: 40px;
    height: 46px;
    margin-right: 6px;
}

.navbar-exp {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}

.navbar-exp-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    padding: 0 12px 12px;
}

.navbar-exp-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    margin-top: 10px;
    transition: transform ease-out 0.2s;
    -webkit-transform: scaleX(0);
    /* -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1); */

}
.navbar-exp-link:hover {
    opacity: 0.6;
}


.navbar-exp-link:hover::after {
    content: "";
    display: block;
    transform: scaleX(calc(4/18));
    margin-left: -8px;
}

.navbar-exp-link.active {
    opacity: unset;
    cursor: default;
}

.navbar-exp-link.active::after {
    content: "";
    display: block;
    transform: scaleX(1);
    margin-left: -8px;
}

/* Navbar User */
.navbar-user{
    position: relative;
    display: block;
    display: flex;
    align-items: center;
}

.navbar-user-register {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 16px;
    border-radius: 35px;
}

.navbar-user-register:hover,
.navbar-user-language:hover{
    background: rgba(238, 238, 238, 0.2);
    cursor: pointer;
}
.navbar-user-language {
    font-size: 1.4rem;
    color: #fff;
    margin: 0 12px 0 -8px;
    padding: 16px;
    border-radius: 35px;
}

.navbar-user-login {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 4px;
    border-radius: 25px;
    cursor: pointer;
}

.navbar-user-list {
    position: absolute;
    width: 240px;
    right: 0;
    top: 92%;
    list-style: none;
    background: #fff;
    padding-left: 0;
    border-radius: 16px;
    overflow: hidden;
    display: none;
}

.navbar-user.active~.navbar-user-list {
    display: block;
    z-index: 9999;
}

.navbar-user-bar {
    color: #555;
    font-size: 1.4rem;
    padding: 4px 6px 4px 10px;
}

.navbar-user-login-avatar {
    width: 32px;
    margin-left: 4px;
}

.navbar-user-item:first-child .navbar-user-link{
    font-weight: 600;
    padding-top: 20px;
}

.navbar-user-item:nth-child(2) .navbar-user-link{
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}

.navbar-user-item:nth-child(3) .navbar-user-link{
    padding-top: 16px;
}

.navbar-user-item:last-child .navbar-user-link{
    padding-bottom: 20px;
}

.navbar-user-link {
    text-decoration: none;
    display: block;
    color:  #333;
    font-size: 1.4rem;
    padding: 12px 16px;
    font-weight: 400;
}

.navbar-user-link:hover {
    background: rgba(221, 221, 221, 0.3);
}

/* Nav Search Bar */

.nav-search-bar {
    max-width: 850px;
    position: absolute;
    margin: auto;
    top: 100%;
    right: 0;
    left: 0;
}

.nav-search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    overflow: hidden;
}

.nav-search-text {
    background-color: #fff;
    padding: 16px 24px;
    position: relative;
    height: 100%;
}

.nav-search-text::before {
    content: "";
    position: absolute;
    top: 14px;
    right: 0px;
    border-right: 1px solid #ddd;
    height: 32px;
    display: block;
}
.nav-search-text:hover {
    background: #eee;
    border-radius: 40px;
    cursor: pointer;
}

.nav-search-text:hover::before {
    display: none;
}

.nav-search-heading {
    font-size: 1.3rem;
    color: var(--heading-color);
}

.nav-search-input {
    font-size: 1.4rem;
    margin-top: 4px;
    color: var(--text-color);
    border: none;
    width: 100%;
    outline: none;
}
.nav-search-text:hover .nav-search-input{
    background: #eee;
}

.nav-search-description {
    font-size: 1.4rem;
    margin-top: 4px;
    color: var(--text-color);
}

.nav-search-text:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-search-text:last-child div {
    padding: 16px 24px;
}

.nav-search-btn {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    background: #ff385c;
    border-radius: 40px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: width ease-in 0.2s;
}

.nav-search-btn:hover {
    background: hsl(349, 90%, 50%);
}

.nav-search-btn.active {
    justify-content: space-between;
    width: 144px;
}

.nav-search-btn.active span {
    display: block;
    margin-left: 8px;
}

.nav-search-btn span {
    display: none;
}

/* Search place */
.nav-search-place-wrap {
    position: absolute;
    top: 125%;
    left: 0;
    background-color: #fff;
    border-radius: 30px;
}

.nav-search-place-heading {
    display: block;
    margin: 28px 32px 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--heading-color);
}

.nav-search-place-btn {
    margin: 32px 32px 32px;
    padding: 20px 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    font-weight: 800;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow ease-out 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

/* Search guest */

.nav-search-guest-wrap {
    position: absolute;
    top: 125%;
    right: 0;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.nav-search-guest-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.nav-search-guest-item::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 1px solid #ddd;
    bottom: 0;
    left: 24px;
    right: 24px;
}

.nav-search-guest-item:last-child:after {
    display: none;
}

.nav-search-guest-item:first-child{
    padding-top: 40px;
}
.nav-search-guest-item:last-child {
    padding-bottom: 40px;
}

.nav-search-guest-text {
}

.nav-search-guest-heading {
    font-size: 1.6rem;
    color: var(--heading-color);
    font-weight: 600;
}

.nav-search-guest-description {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
    margin-top: 8px;
}

.nav-search-guest-btn {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.nav-search-guest-btn button{
    opacity: 0.7;
    font-size: 1.2rem;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 50%;
    padding: 6px;
    background-color: transparent;
    width: 28px;
    cursor: pointer;
}

.nav-search-guest-btn button:disabled {
    opacity: 0.3;
    cursor: no-drop;
}

.nav-search-guest-value {
    padding: 0 16px;
    font-size: 2rem;
    outline: none;
    border: none;
    width: 60px;
    text-align: center;
}

.nav-search-number-guest.active {
    font-weight: 700;
    color: var(--heading-color);
}

/* Header IMG search */

.header-search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

.header-search-heading {
    margin-top: 100px;
    font-size: 1.8rem;
    font-weight: 700;
}

.header-search-btn {
    margin-top: 12px;
    padding: 20px 54px;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow ease-out 0.2s;
    cursor: pointer;
    transform: scale(1);
    transition: transform ease-in 0.1s;
}

.header-search-btn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header-search-btn:active {
    transform: scale(0.95);
}

.gradient-text{
    background-image: linear-gradient(0.25turn,#70019c, #ad0186);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}