
/* Tablet */
@media (max-width: 1113px) {
    /* Header */

    .navbar{
        padding: 16px 40px;
    }

    .navbar-exp {
        margin-left: 0;
    }

    .navbar-user-list {
        right: 40px;
    }

    .navbar-user-register {
        display: none;
    }
    .navbar-user-language {
        display: none;
    }

    .nav-search-bar {
        max-width: 720px;
    }
    .navbar.activeSearch .nav-search-bar {
        max-width: 720px;
    }


    /* Container */
    .content-wrap {
        padding: 0 40px;
    }

    #recent.content-wrap  {
        margin-bottom: 32px;
    }

    #recent .col:nth-child(6),
    #recent .col:nth-child(7){
        display: none;
    }

    .anywhere-wrap {
        margin-top: 20px;
    }
    
    .poster-img {
        height: 362px;
    }
    .poster-text {
        padding: 0 40px;
        width: 45%;
    }

    .poster-heading {
        font-size: 3.6rem;
        margin-bottom: 8px;
    }

    .poster-description {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }    

    .poster-btn {
        padding: 8px 16px;
        font-size: 1.4rem;
    }

    /* Footer */
    .footer-wrap {
        padding: 0 40px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .copyright-wrap {
        /* width: var(--tablet-width); */
        flex-direction: column-reverse;
        align-items: center
    }
    .copyright-list {
        justify-content: unset;
    }
    .copyright-item-left span:first-child {
        display: none;
    }
    .copyright-item-right {
        margin-top: 24px;
    }
    .copyright-item-social {
        padding: 0 12px;
    }
    .copyright-list:nth-child(1) {
        flex-direction: column;
        padding-top: 10px;
    }
    .copyright-item-left {
        padding: 4px 0 0;
    }
}

/* PC medium resolution > */
@media (max-width: 740px) {
    /* Header */

    .navbar{
        padding: 16px 16px;
    }

    .navbar-logo {
        display: none;
    }
    .navbar-user-login{
        display: none;
    }

    .nav-search-bar {
        top: 20%;
        max-width: 80%;
    }

    .navbar.active .nav-search-bar {
        max-width: 90%;
    }

    .nav-search-header-heading {
        font-size: 1.8rem;
    }

    .nav-search-header-wrap {
        max-width: 100%;
    }

    .navbar-exp-link{
        display: none;
    }

    /* Container */

    .content-wrap {
        padding: 0 16px;
    }

    .content-text {
        text-align: center;
    }

    #recent.content-wrap  {
        margin-bottom: 0;
    }

    #recent .col:nth-child(4),
    #recent .col:nth-child(5){
        display: none;
    }

    .explore-wrap {
        display: flex;
        margin-bottom: 8px;
    }

    .explore-img {
        width: 35%;
    }
    .explore-text {
        margin-top: 8px;
        margin-left: 16px;
    }
    .explore-heading {
        font-size: 2.4rem;
    }
    .explore-description {
        font-size: 1.6rem;
    }

    .poster-text {
        justify-content: center;
        width: 100%;
        align-items: center;
        padding-top: 24px;
        max-width: unset;
        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
        text-align: center;
        /* background-color: rgba(255, 255, 255, 0.5); */
    }

    .poster-img  {
        height: 500px;
        background-position: -50px center;
    }
    
    .poster-text.white {
        background-color: rgba(0, 0, 0, 0.3);
        padding-bottom: 24px;
        border-radius: 16px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }

    .poster-img.white {
        background-position: -300px center;
    }
    .poster-btn {
        padding: 16px 24px;
        font-size: 1.6rem;
    }


    /* Footer */
    .footer-wrap {
        padding: 0 16px;
    }
    .footer-wrap .col {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }
    .footer-heading {
        margin-top: 32px;
    }
    .footer-link {
        margin-top: 20px;
    }
    .copyright-wrap {
        width: 100%;
        border-top: unset;
        margin-top: unset;
        margin-bottom: 20px;
        align-items: flex-start;
        padding: 0 16px;
    }
    .copyright-list {
        align-items: flex-start;
    }
    .copyright-item-left {
        margin: 0;
    }
    .copyright-item-right {
        padding-left: unset;
        padding-right: 20px;
    }
    .copyright-item-social {
        display: none;
    }
}